.img_container{
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}
*{

}

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1{
  color: white;
}

input{
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}
div{
  margin-top: 10px;
}

button{
  width: 250px;
  height: 50x;
  display:block; 
  margin: 50px auto;
}